/* Begin: Navbar CSS */
.Navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--globalPCPadding);
	background: var(--navbarBg);
	z-index: 999;
	height: var(--navHeight);
}

.Navbar.active {
	background: linear-gradient(90deg, #fc5c7d, #6a82fb);
}

.Navbar.hidden {
	display: none;
}

.Navbar a {
	text-decoration: none;
	color: var(--clrLink);
}

.NavLogo {
	width: 40px;
}

.NavLogo img {
	width: 100%;
	vertical-align: middle;
}

.NavCenter {
	display: flex;
	gap: clamp(40px, 5vw, 100px);
	justify-content: center;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.NavCenter li {
	list-style: none;
	position: relative;
	display: block;
	font-weight: 500;
	line-height: var(--navHeight);
	transition: all 0.4s;
}

.NavLinks span {
	position: relative;
}

.NavLinks span:after {
	content: "";
	background-color: var(--feedbackClr);
	height: 2px;
	position: absolute;
	width: 0%;
	left: 0;
	bottom: -0px;
	transition: all ease-in-out 1.4s;
}

.NavLinks:hover span:after {
	width: 100%;
}

.NavCenter li:hover .NavChildLinks {
	opacity: 1;
}

.NavCenter li:hover .NavLinks-Items {
	display: block;
}

.NavCenter li:hover ion-icon {
	transform: rotate(180deg);
}

.NavLinks ion-icon {
	vertical-align: middle;
	transition: all 1.5s;
	margin-left: 4px;
}

.NavLogin a {
	display: block;
	width: 100px;
	line-height: 40px;
	background-color: #4596ce;
	color: #fff;
	border-radius: 12px;
	text-align: center;
}

.NavLinks-Items {
	position: absolute;
	display: none;
	margin: 0 auto;
	padding: 0;
	top: calc(var(--navHeight) - 4px);
	background: var(--clrMenuChild);
	font-size: 16px;
	z-index: 1;
	border-radius: 4px;
}

.NavChildLinks {
	text-align: center;
}

.NavChildLinks a {
	display: block;
	justify-content: center !important;
	padding: 0 !important;
	height: 70px;
	color: #fff;
}

.Contact-RightContent ul li span {
	margin-left: 10px;
}

/* End: Navbar CSS */

/* Begin: Slider CSS */
.Container-Slider {
	width: 100%;
	height: 500px;
	top: 0;
	position: relative;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	margin-top: var(--navHeight);
}

.Slide {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity ease-in-out 0.8s;
}
.Slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Active-Animation {
	opacity: 1;
}

.Btn-Slide {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #f1f1f1;
	border: 1px solid rgba(34, 34, 34, 0.287);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	outline: none;
}

.Btn-Slide img {
	width: 40px;
	height: 40px;
	pointer-events: none;
}
.Prev {
	top: 50%;
	left: 20px;
	transform: translateY(-60%);
}
.Next {
	top: 50%;
	right: 20px;
	transform: translateY(-60%);
}

.Container-Dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.Dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid #f1f1f1;
	margin: 0 5px;
	background: #f1f1f1;
}

.Dot:hover {
	cursor: pointer;
}

.Dot.Active {
	background: rgb(32, 32, 32);
}

/* End: Slider CSS */

/* Content Padding CSS */
.Content {
	padding: var(--globalPCPadding);
	padding-top: var(--navHeight);
}
/* Content Padding CSS */

/* Begin: Our Product CSS */
.Our-Product {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	gap: 100px;
	margin: 0;
	padding: 0;
}

.Our-Product li:nth-child(even) div:nth-child(even) {
	grid-row: 1/2;
	justify-self: right;
}

.Our-Product li:nth-child(even) div:nth-child(odd) {
	grid-column: 2/2;
	justify-self: left;
}

.Our-Product li:nth-child(even) {
	justify-content: right;
}

.Our-Product li:nth-child(odd) div:nth-child(odd) {
	justify-self: right;
}

.Our-Product li:nth-child(odd) {
	justify-content: left;
}

.Our-Product li {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 40%);
	grid-template-rows: max-content;
	list-style: none;
}

.Our-Product li div {
	text-align: left;
	max-width: 500px;
	width: 100%;
}

.Our-Product__Img {
	width: clamp(200px, 72%, 450px);
}

.Our-Product li a {
	text-decoration: none;
	color: #000;
}

.Our-Product__Img a img {
	width: 100%;
	border-radius: 20px;
}

.Our-Product__Desc a {
	font-size: 28px;
}
/* End: Our Product CSS */

/* Begin: Insurance CSS */
.Insurance {
	padding-bottom: 80px;
}

.Content-Section {
	margin-bottom: 4%;
}

.Content-Description {
	display: flex;
	gap: 8%;
}

.Center-Description {
	display: flex;
	padding: 0;
	gap: 4%;
	row-gap: 40px;
}

.Content-Image {
	width: 260px;
	align-self: center;
	border-radius: 50%;
	padding: 24px 24px 18px;
	border: 1px solid #000;
}

.Center-Description img {
	width: 100%;
}

.Car-Options {
	position: relative;
	text-align: center;
	width: 280px;
	padding: 0 2% 60px;
	border: 0.5px solid #000;
	border-radius: 4px;
	overflow: hidden;
}

.CarOption-Description {
	justify-content: space-between;
}

.CarOption-Description li {
	list-style: none;
}

.Insurance-Btn {
	position: absolute;
	text-decoration: none;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100% !important;
	border-radius: unset !important;
}
/* End: Insurance CSS */

/* Begin: Choose Us CSS */
/* .ChooseUs {
  background: url('../public/image/home/choose-us/choose-us-bg.jpg') no-repeat center center;
  color: #fff;
  padding: 1% 4%;
} */

.ChooseUs h1 {
	margin: 0 0 8px;
}

.ChooseUs-List {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 16%;
	padding: 0;
	margin: 0;
}

.ChooseUs-List li {
	list-style: none;
	text-align: center;
	padding: 10px;
	width: clamp(20px, 100%, 300px);
}

.ChooseUs-List li h3 {
	font-size: 24px;
}

.ChooseUs-List li p {
	text-align: left;
}

.ChooseUs-Item img {
	width: 100px;
}
/* End: Choose Us CSS */

/* Begin: Partnered With CSS */
.PartnerWith {
	background: rgb(248, 247, 247);
	padding: 60px 0 160px;
}

.PartnerWith h1 {
	text-align: center;
}

.PartnerWith-List {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 4%;
	margin: 0;
}

.PartnerWith-List h1 {
	text-align: center;
}

.PartnerWith-List li {
	list-style: none;
	width: 80px;
}

.PartnerWith-List li img {
	width: 100%;
}
/* End: Partnered With CSS */

/* Begin: Feedback CSS */
.Feedback {
	padding: 0;
	margin-top: 0;
}

.Feedback-List > ul {
	padding: 0;
}

.Feedback-Item {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	justify-content: space-between;
	margin: 0;
}

.Feedback-Item img {
	width: 100%;
}

.Feedback-Item li {
	list-style: none;
	padding: var(--feedbackPadding);
}

.Feedback-1 li:first-child {
	background-color: var(--feedbackClr);
	color: #fff;
	text-align: center;
	justify-self: right;
}

.Feedback-1 li:first-child img {
	width: clamp(100px, 30vw, 240px);
	/* height: clamp(100px,30vw,240px); */
	border-radius: 12px;
}

.Feedback-1 li:first-child h4 {
	margin: 6% 0 0;
}

.Feedback-1 li:first-child div:last-child {
	margin-top: 12%;
}

.Feedback-1 li:last-child {
	background: url("../public/image/home/feedback/feedback-icon.jpg") no-repeat
		center center;
	text-align: center;
}

.Feedback-2 li:first-child {
	background: url("../public/image/home/feedback/benefit.jpg") no-repeat
		center center;
	padding: var(--feedbackPadding);
	justify-self: right;
}

.Feedback-2 li:last-child {
	background-color: #ec6607;
}

.Feedback-2 li:last-child div:first-child {
	width: 100%;
}

.Feedback-2 li:last-child div:first-child h1 {
	font-weight: bold;
}

.Feedback-2 li:last-child div:first-child img {
	width: 20%;
}

.Feedback-2 li:last-child div:last-child {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 40px 0;
}

.Feedback-Item h1 {
	color: var(--feedbackClr);
}

.Feedback-2 li:last-child div:last-child input {
	width: 60%;
	padding: var(--inputFeedbackPadding);
	outline: none;
}

/* End: Feedback CSS */

/* Begin: Process CSS */

.Process-Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 16%;
}

.Process-Header a {
	color: #000;
	text-decoration: none;
}

.Process-Header li {
	list-style: none;
}

.Process-HeaderItem {
	width: 20%;
	text-align: center;
	display: flex;
	gap: 50%;
}

.Process-HeaderItem span {
	align-self: center;
}

.Process-HeaderItem:last-child span {
	display: none;
}

.Process-HeaderItem:hover {
	opacity: 0.7;
}

.Process-HeaderItem div {
	width: 100px;
}

.Process-HeaderItem img {
	width: 32%;
}

.Process-HeaderItem img {
	/* background: green; */
	border-radius: 50%;
}

/* End: Process CSS */

/* Begin: User Information CSS */
.ProcessInfo {
	/* background: url('../public/image/process/user-bg.jpg') no-repeat center center fixed; */
	/* background-size: cover; */
	padding: calc(var(--navHeight) + 40px) 0 40px;
}

.ProcessInfo ul {
	max-width: clamp(200px, 80vw, 900px);
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	padding: 0;
}

.ProcessInfo ul h2 {
	width: 100%;
	margin: 40px 0 0;
}

.ProcessInfo ul > p {
	margin: 0;
}

.ProcessInfo li {
	list-style: none;
}

.ProcessInfo-Input {
	width: 100%;
}

.ProcessInfo-Input p {
	margin: 24px 0 8px;
	font-weight: bold;
}

.ProcessInfo-Input Input {
	padding: 8px;
	width: 40%;
}

.ProcessInfo-Input {
	width: 50%;
}

.ProcessInfo-Input input {
	width: 80%;
}
/* End: User Information CSS */

/* Begin: Button CSS */
.Div-Reset-Submit {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	padding: 20px 0;
}

.Submit-Btn,
.Reset-Btn {
	outline: none;
	border: none;
	display: block;
	width: 100px;
	line-height: 44px;
	border-radius: 4px;
	font-weight: bold;
	color: #fff;
}

.Submit-Btn {
	background: var(--feedbackClr);
}

.Reset-Btn {
	background: red;
	margin-right: 8px;
}

.Submit-Btn:hover,
.Reset-Btn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.Submit-Btn[disabled] {
	color: rgba(0, 0, 0, 0.6);
	background: #ccc;
}

.Submit-Btn[disabled]:hover {
	cursor: default;
	opacity: 1;
}

.Submit-Btn[disabled]:hover .Submit-Btn-Desc {
	position: absolute;
	display: block;
	top: -12px;
	left: 20px;
	font-size: 12px;
	color: red;
	font-weight: normal;
}

.Submit-Btn .Submit-Btn-Desc {
	display: none;
}

.Reset-Btn:hover .Reset-Btn-Desc {
	position: absolute;
	display: block;
	top: -12px;
	right: 0;
	font-size: 12px;
	color: red;
	font-weight: normal;
}

.Reset-Btn .Reset-Btn-Desc {
	display: none;
}

/* End: Button CSS */

/* Begin: Privacy Policy */
.PrivacyPolicy {
	padding: 20px 0 60px;
	max-width: clamp(200px, 80vw, 900px);
	margin: 0 auto;
}

.PrivacyPolicy input {
	outline: none;
}

.PrivacyPolicy > span {
	margin-left: 10px;
}

.Privacy-Content {
	max-width: 800px;
	margin: 0 auto;
}

.Privacy-Content p {
	padding: 0 4%;
}

.PrivacyPolicy-Content {
	text-align: center;
	margin: 8% 0;
}

/* End: Privacy Policy */

/* Begin:  Contact CSS*/
.Contact {
	background: linear-gradient(-90deg, #f2994a, #f2c94c);
	padding: 0 4% 100px;
}

.Contact-Header {
	padding-top: 100px;
}

.Contact-Header p:first-child {
	font-size: 28px;
	font-weight: bold;
}

.Contact-Center {
	display: flex;
	gap: var(--contactContentItemPadding);
	justify-content: center;
}

.Contact-Center > div {
	max-width: 560px;
}

.Contact-Input {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}

.DivInput input {
	outline: none;
	padding: 8px;
	width: clamp(100px, 60vw, 240px);
}

.Contact-Right {
	border-left: 1px solid #000;
	padding-left: var(--contactContentItemPadding);
}

.Contact-Right li {
	list-style: none;
}

.Contact-SubmitBtn {
	outline: none;
	border: none;
	height: 40px;
	width: 100px;
	align-self: end;
	border-radius: 4px;
	background: var(--feedbackClr);
	color: #fff;
}

.Contact-SubmitBtn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.Contact-TextArea {
	width: 70%;
}

.Contact-TextArea textarea {
	max-width: 100%;
	min-width: 200px;
	max-height: 2000px;
	min-height: 100px;
	padding: 8px;
	font-size: 16px;
}

.Contact-RightContent ul {
	word-wrap: break-word;
}
/* End:  Contact CSS*/

/* Begin: Login CSS */
.Login {
	background: url("../public/image/login/bg/bg-login.jpg") no-repeat center
		center;
	background-size: cover;
	padding: calc(var(--navHeight) + 8px) 0 8px;
}

.Login-List {
	width: clamp(100px, 80%, 420px);
	background: #fff;
	border: 1px solid #000;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	height: auto;
	padding: clamp(8px, 8%, 52px);
}

.Login-List h1 {
	margin-top: 0;
}

.Content-Form__Container {
	padding: 8%;
}

.Content-Form__Container h1 {
	margin: 0;
}

.Form-List {
	text-align: left;
}

.Form-List p {
	margin: 28px 0 0;
}

.Form-Input {
	width: 90%;
	position: relative;
}

.Form-Input input {
	display: block;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%;
	outline: none;
	height: 52px;
	padding-left: 36px;
	border-bottom: 2px solid #9d9999;
	margin: 0;
}

.Form-Input ion-icon {
	position: absolute;
	display: flex;
	font-size: 24px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.Forgot-Password {
	display: flex;
	padding: 8px 0 0;
	justify-content: space-between;
}

.Forgot-Password li {
	list-style: none;
}

.Form-ForgotPass {
	text-align: right;
}

.Show-Password {
	text-align: left;
}

.Form-ForgotPass a {
	text-decoration: none;
	color: #000;
}

.BtnForm {
	display: block;
	border: none;
	width: 100%;
	text-align: center;
	margin: 32px auto;
	background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
	color: #fff;
	border-radius: 40px;
	line-height: 52px;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
}

.BtnForm:hover {
	cursor: pointer;
	animation: btnFormChangeBackground 1s ease-in;
	background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
}

@keyframes btnFormChangeBackground {
	from {
		opacity: 0.6;
		background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
	}
	to {
		opacity: 1;
		background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
	}
}

.FormWithOther {
	margin: 60px 0 40px;
}

.FormWithOther ul {
	display: flex;
	justify-content: center;
	padding: 0;
	gap: 32px;
}

.FormWithOther li {
	list-style: none;
	font-size: 28px;
}

.FormWithOther a {
	text-decoration: none;
	color: #000;
}

.FormWithSignUp {
	margin: 0 0 20px;
}

.FormWithSignUp h4 {
	font-weight: 500;
	font-size: 12px;
}

.FormWithSignUp a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

.GoHomeBtn a {
	text-decoration: none;
	color: #000;
	font-size: 40px;
}

.Form-ForgotPass a:hover,
.FormWithOther ul li a:hover,
.FormWithSignUp a:hover,
.GoHomeBtn a:hover {
	opacity: 0.6;
}

.FormWithOther ul li a ion-icon {
	transition: all 0.5s;
}

.FormWithOther ul li a:hover ion-icon {
	transform: scale(1.2);
}
/* End: Login CSS */

/* Begin: Forgot Password CSS */
.ForgotPassword .GoHomeBtn {
	margin-top: 12%;
}

.ForgotPassword .DivFom {
	width: 100%;
	margin: auto;
}

.Content-Form {
	width: clamp(200px, 80%, 600px);
	background: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	margin: auto;
	text-align: center;
}

.ForgotPassword-Content {
	padding: 8% 0 4%;
}

.ForgotPassword-Content p {
	margin: 12% 0 4%;
}

.ForgotPassword-Input {
	margin: 8% 0 0;
}

.ForgotPassword-Input input {
	width: 80%;
	padding: 12px;
}

.CreateNewAcc {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.CreateNewAcc:hover {
	opacity: 0.6;
}
/* End Forgot Password CSS */

/* Begin: Footer CSS */
.Footer {
	border-top: 1px solid #000;
	background: var(--feedbackClr);
}

.Footer li {
	list-style: none;
}

.Footer li ul li a,
.Footer li ul li {
	font-size: 14px;
	color: #fff;
}

.Footer li ul li:first-child a,
.Footer li ul li:first-child {
	font-size: 28px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
}

.Footer a {
	text-decoration: none;
}

.Footer li:first-child a:hover {
	opacity: 1;
	cursor: default;
}

.Footer a:hover {
	opacity: 0.7;
}

.Footer-List {
	display: flex;
	padding: 3% 3% 1%;
	flex-wrap: wrap;
	gap: 4%;
	row-gap: 40px;
	margin: 0 auto;
}

.Footer-List > li {
	width: 20%;
}

.Footer-List > li:last-child {
	width: 40%;
}

.FooterLogo {
	display: flex;
}

.FooterLogo img {
	width: 60px;
	height: 60px;
}

.FooterLogo span {
	font-size: 24px;
	margin-left: 4px;
	font-weight: bold;
	color: #4596ce;
	margin-top: 12px;
}

.Copy-Right {
	background: #000;
	color: #fff;
	text-align: center;
	margin-top: 40px;
	font-size: 12px;
	padding: 2px 0;
}
/* End: Footer CSS */

/* Begin: Mobile Responsive CSS  */
@media (max-width: 739px) {
	.Navbar {
		display: block;
		padding: 0 !important;
	}
	.NavLogo {
		line-height: var(--navHeight);
		margin-left: 20px;
	}
	.NavCenter {
		border-top: 1px solid #000;
		display: block;
		margin: 0;
		padding: 0;
		/* background: var(--navbarBg); */
		background: var(--feedbackClr);
	}

	.NavCenter li > a {
		color: #fff;
		justify-content: left;
		display: flex;
		width: 100%;
		text-align: center;
		padding: 0 8%;
	}

	.NavCenter li a:hover {
		background: #fff;
		color: #000;
	}

	.NavLinks-Items a:hover {
		color: var(--clrMenuChild);
	}

	.Mobile-Menu__Icon {
		position: absolute;
		right: 16px;
		top: 0;
		width: 30px;
		font-size: 32px;
		padding: 8px;
	}

	.Mobile-Menu__Icon ion-icon {
		vertical-align: middle;
	}

	.Mobile-Menu__Icon:hover ion-icon {
		transform: scale(1.1);
		opacity: 0.5;
		cursor: pointer;
	}

	.NavLogin {
		display: flex;
		justify-content: center;
		line-height: var(--navHeight);
	}

	.NavLogin a {
		width: 100%;
		border-radius: 0;
		padding: 16px;
		align-self: center;
		font-size: 20px;
		font-weight: bold;
	}

	.NavLogin a:hover {
		opacity: 0.9;
		background: blue;
	}

	.NavLinks-Items {
		left: 36%;
		width: clamp(200px, 64%, 250px);
		border-radius: 4px;
	}

	.Footer-List {
		padding: 4% 8% 2%;
	}

	.Footer-List > li {
		width: 100%;
	}

	.Footer-List > li:last-child {
		width: 100%;
	}

	.Feedback-Item {
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: max-content;
	}

	.Feedback-Item li {
		min-height: 300px;
	}

	.Feedback-2 li:last-child div:last-child button {
		margin-top: 12px;
	}

	.DivInput {
		width: 100%;
	}

	.Contact-Input Input {
		width: 60%;
		min-width: 200px;
	}

	.ProcessInfo-Input Input {
		width: 64%;
	}

	.ProcessInfo-Input input {
		width: 100%;
	}

	.ProcessInfo-Input {
		width: 60%;
	}

	.Process-HeaderItem {
		gap: 10%;
	}

	.Forgot-Password {
		font-size: 14px;
	}

	.Content-Form {
		width: clamp(100px, 88%, 400px);
	}

	.Center-Description {
		flex-wrap: wrap;
	}

	.Content-Image {
		width: clamp(40px, 80%, 160px);
		margin: 0 auto;
	}
}
/* End: Mobile Responsive CSS  */

/* Begin: Tablet Responsive CSS */
@media (min-width: 740px) and (max-width: 1023px) {
	.NavLogo {
		display: none;
	}
	.NavCenter {
		gap: 12px;
	}
	.Our-Product {
		padding: 40px;
	}

	.Our-Product li:nth-child(even) {
		justify-content: center;
	}

	.ProcessInfo-Input Input {
		width: 48%;
	}

	.ProcessInfo-Input {
		width: 100%;
	}
}
/* End: Tablet Responsive CSS */

/* Begin: Mobile & Tablet Responsive CSS */
@media (max-width: 1023px) {
	.Navbar {
		padding: var(--globalMobileTabletPadding);
	}

	.Content {
		padding: var(--globalMobileTabletPadding);
	}

	.Our-Product li {
		display: block;
	}

	.Feedback {
		padding: 0;
		margin-top: 0;
	}

	.Feedback-2 li:first-child {
		justify-self: unset;
	}

	.Feedback-2 li:last-child div:last-child input {
		width: 80%;
	}

	.Contact-Center {
		flex-wrap: wrap;
	}

	.Contact-Right {
		border-left: none;
		border-top: 1px solid #000;
		padding-left: var(--contactContentItemPadding);
	}

	.Contact-Center > div {
		padding-bottom: 4%;
		width: 100%;
	}

	.Footer-List ul {
		padding: 0;
	}

	.Content-Description {
		flex-wrap: wrap;
	}

	.Car-Options {
		width: clamp(100px, 100%, 300px);
	}

	.CarOption-Description {
		flex-wrap: wrap;
		justify-content: center;
	}

	.NavCenter li .NavLinks-Items.active {
		display: block;
	}

	.Privacy-Content p,
	.Privacy-Content h2 {
		padding-left: 16px;
		padding-right: 16px;
	}
}
/* End: Tablet & Mobile Responsive CSS */

/* Begin: Table & PC Responsive CSS */
@media (min-width: 740px) {
	.Mobile-Menu__Icon {
		display: none;
	}

	.NavLogin a:hover {
		opacity: 0.8;
	}

	.NavChildLinks:hover a {
		opacity: 0.7;
	}

	.Footer-List {
		width: clamp(100px, 90%, 1000px);
	}

	.NavChildLinks a {
		padding: 0;
		min-width: 200px;
	}
}
/* End: Table & PC Responsive CSS */

/* Begin: PC Responsive CSS */
@media (min-width: 1023px) {
	/* .Login {
    height: 100vh;
  }

  .ProcessInfo {
    height: 100vh;
  } */

	.Feedback-Item li {
		justify-content: center;
		height: clamp(400px, 44vw, 500px);
		width: clamp(400px, 44vw, 500px);
	}

	.Content-Form {
		min-height: 586px;
	}

	.Login {
		position: fixed;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
}
/* End: PC Responsive CSS */
