@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	word-wrap: break-word;
}

:root {
	--navbarBg: linear-gradient(90deg, #ff9966, #ff5e62);
	--clrLink: #000;
	--navHeight: 70px;
	--decreaseMargin: 100px;
	--contentPadding: 100px 0;
	--feedbackPadding: 28px;
	--inputFeedbackPadding: 12px;
	--feedbackClr: #002f59;
	--clrMenuChild: #013f76;
	--contactContentItemPadding: 4%;
}

/* Tablet & Mobile CSS */
@media (max-width: 1023px) {
	:root {
		--globalMobileTabletPadding: 0 clamp(28px, 4%, 40px);
		--footerMobileTabletPadding: 40px clamp(40px, 4%, 40px) 0;
	}
}

/* PC Responsive CSS */
@media (min-width: 1024px) {
	:root {
		--globalPCPadding: 0 100px;
		--footerPCPadding: 40px 100px 0;
	}
}
